.THIS .uiInput--input .input,.THIS .uiInputCheckbox, .THIS .uiInput--input.input,.THIS .uiInputTextArea, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right
{    border: 1px solid rgb(13, 156, 234)!important;
     font-size:0.8rem;
}
.THIS .h_card_data
{    color: darkblue;
    font-weight: 600;
}
.THIS .uiInputCheckbox
{
    width:15px;
}
.THIS .card-header
{
    background-color: steelblue;
    border-radius: 0px !important;
    color:white;
}
.THIS .ddheight
{
    height:35px !important;
    margin-top: 3px;
    margin-left: 10px;
}
.THIS .Swifttxt
{
    Width:180px;
}
.THIS .KYC
{
    width:16px;
    float:left;
        margin-left: 0px;
}
.THIS .slds-input{
width:300px;}
.THIS .control, .THIS .wrap, .THIS .h_card_dataCom
{
        width: 50%;
    float: left;
}
.THIS .error_text 
{
    color: red;   
    float: left;
    margin: 3px;
    margin-left: 13px;
    text-align: initial;
}
.THIS  input {
    margin-left: 0px;
    margin-top: 0p	x;
    border: 1px solid #d8d8d8 !important;
    -webkit-appearance: none;
    font-size: 14px;
}


.THIS .rapidwi72{
           width: 90px;
}
.THIS  button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #0070d2;
    border-color: #357ebd;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS  button:hover {
    /*background-color:#3276b1;
    border-color:#285e8e;*/ 
    cursor:pointer;
}

.THIS button .label {
    color: #fff;	
}

.THIS  input {
    margin-left:10px;
    margin-top: 3px;
    border: 0px solid transparent;
    width: 70%;
    -webkit-appearance: none;
    font-size: 14px;
}
.THIS .sec_background
{
    background: rgb(244, 246, 249) !important;
    border-radius: 5px !important;
    width: 100% !important;
    padding: 6px !important;
    font-size: 1.2em;
    text-align: left;
}

.THIS .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    border-radius: 10px;
    background: white;
    margin-top: 30px;
}
.THIS .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.THIS .container {
    padding: 0px 0px; 
}

.THIS .col-md-5 .col-md-7 .col-md-6
{
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.THIS label {
    display: inline-block; 
    max-width: 100%;
    margin-bottom: 0px; 
    font-weight: 500;
    text-align: left;
}
.THIS .profileMenuRegion{
    display: none;
}
.THIS .navigation{
    display: none;
}
.THIS .form-group {
    margin-bottom: 7px !important;
}
.THIS .hide
{
    display: block !important
}