.THIS .slds-text-link--reset {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display:inline-table !important;
}
.THIS .slds-text-link--reset1 {
   color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display:inline-table !important;
}
.THIS .slds-text-link--reset121 {
    color: inherit !important;
    text-decoration: none !important;
    width: 120px !important;
    height: 47px !important;
    text-align: left !important;
    display:inline-table !important;
}
.THIS  .slds-text-link--reset123 {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display:inline-table !important;
}

.THIS .slds-text-link--reset12 {
   color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display:inline-table !important;
}

.THIS .Customizedstocktable tbody, 
.THIS .Customizedstocktable thead ,
.THIS .Customizedstocktable tr,
.THIS .Customizedstocktable th,
.THIS .Customizedstocktable td {
    display: block;
}


.THIS .Customizedstocktable tbody {   
    height: 350px;
    overflow-y: auto;
    width:100%;
}
.THIS .Customizedstocktable thead{
    width:100%;
}

.THIS .Customizedstocktable tbody tr{
    clear:both;
}

.THIS .Customizedstocktable th
{
     
    float: left;
}


.THIS .Customizedstocktable td 
{
    
    
    float: left;
}

.THIS .slds-table--striped tbody tr:nth-of-type(even) {
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover{
    
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}
.THIS .aligin
{
    padding-right: 0px;
    padding-left: 0px;
}
.THIS .table>thead>tr>th
{
    border-bottom: none;
}

 /*media queries 
@media all and (max-width: 1920px) and (min-width: 1080px) 
    {
    .THIS .Customizedstocktable
    {
        width:1879px !important;
    }
}
@media all and (max-width: 1366px) and (min-width: 768px) 
    {
    
    .THIS .Customizedstocktable
    {
        width:1325px !important;
    }
}
@media all and (max-width: 400px) and (min-width: 320px) {
    .THIS .Customizedstocktable
    {
        width:789px!important
    }
}
@media all and (max-width: 640px) and (min-width: 401px) {
    .THIS .Customizedstocktable
    {
        width:789px!important
    }	
}
@media all and (max-width: 799px) and (min-width: 641px) {
    .THIS .Customizedstocktable
    {
        width:789px!important
    }	
}
@media all and (max-width: 959px) and (min-width: 800px) {
    .THIS .Customizedstocktable
    {
        width:789px!important
    }	
}*/


.THIS .Customizedstocktable{
    min-width:800px;
}
.THIS .Customizedstocktable tbody, 
.THIS .Customizedstocktable thead ,
.THIS .Customizedstocktable tr,
.THIS .Customizedstocktable th,
.THIS .Customizedstocktable td {
    display: block;
}


.THIS .Customizedstocktable tbody {   
    height: 625px;
    overflow-y: auto;
    width:100%;
}
.THIS .Customizedstocktable thead{
    width:100%;
}

.THIS .Customizedstocktable tbody tr{
    clear:both;
}

.THIS .Customizedstocktable th, .THIS .Customizedstocktable td {
    
    width: 11.0%;
    float: left;
}

.THIS .slds-table--striped tbody tr:nth-of-type(even) {
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover{
    
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .aligin {
    padding-right: 5px;
    padding-left: 5px;
}