.THIS .uiInput--input .input,.THIS .uiInputCheckbox, .THIS .uiInput--input.input,.THIS .uiInputTextArea, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right
{    border: 1px solid rgb(13, 156, 234)!important;
     font-size:0.8rem;
}
.THIS .clr
{
    background-color: tomato !important;
    border: 1px tomato !important;
}
.THIS .slds-dueling-list__options
{
border: 1px solid rgb(13, 156, 234)!important;   
max-width: 280px!important;
height: 150px;
}
.THIS .slds-dueling-list__column_responsive
{
        min-width: 18rem !important;
}
.THIS .slds-dueling-list__column .slds-button:first-of-type
{
    border: 1px solid;
}
.THIS .uiInput--select,.THIS .input .input .THIS .slds-input .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right
{    border: 1px solid rgb(13, 156, 234) !important;
    font-size:0.8rem;
} 
.THIS .input  
{
    border: 1px solid rgb(13, 156, 234) !important;
    width:100%;
    border-radius: 3px;
    height: 33px;
}
.THIS .uiInput--input .input
{
     border: 1px solid rgb(13, 156, 234) !important;
}


.THIS .bigdate {

    font-size: 15px;

} .THIS .ddheight
{
    height:35px !important;
}
.THIS .form-group{
    max-width: 25%!important;
    
}
.THIS .wrap {
    max-width: 100% !important;
}
.THIS .redtxt
{color:red;}
.THIS .sizeofva
{
    margin-top: -30px !important;
}
.THIS .flo
{float:left;
}
.THIS .control, .THIS .h_card_dataCom
{
    width: 100%;
        color: #0c8dd4;
    font-size: 0.9em;
    font-weight: 500 !important;
  
}
.THIS .slds-checkbox__label
{
border:1px solid;}
.THIS .slds-tabs_default
{
        margin-top: 7px;
}
.THIS .input
{
    border: 0px !important;
    font-size:0.8rem;
    font-weight: normal!important;
    
    
}
.THIS .save
{color:#fff;
}
.THIS .control .uiOutputDate
{
     font-size:0.8rem;
    color:#0c8dd4;
    font-weight: normal!important;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}

.THIS .card-bodypop
{
    overflow-y:Scroll;
    padding: 6px !important;
    background: #f6f7f8!important;
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .rapidwi72{
        width: 160px;
}
.THIS .table
{
  font-size: 0.8em;
}
.THIS .card-body {
     overflow-y: hidden !important;
}
.THIS .card-body1
{
    padding: 15px !important;
    /*background: #f6f7f8!important;*/
}
.THIS .slds-tabs_default__content
{
    background: #f6f7f8 !important;
    height:calc(100vh - 360px) !important;
    overflow-y: auto !important;
}
.THIS .slds-tabs_default__content.slds-show,
.THIS .slds-tabs--default__content.slds-show{
    background: #f6f7f8 !important;
    height:calc(100vh - 360px) !important;
    overflow-y: auto !important;
}
.THIS .wi72{
        width: 175px;
}
.THIS .hide
{
    display:none !important;
}
.THIS .card-body
{
   padding: 0px !important;
}
.THIS .slds-tabs_default__item, .THIS .slds-tabs--default__item
{
        font-size: 14px;
    color:#000;
}
.THIS .slds-show
{
        background: #f6f7f8 !important;
}
.THIS .slds-tabs_default__nav .slds-is-active{
	color: #555 !important;
    background-color: #fff !important;
    font-size: 14px !important;
    border-radius: 50px !important;
    border: 1px #0c8dd4 solid !important;
}
.THIS .slds-is-active:after
{
            background-color: transparent !important;
}
.THIS .slds-tabs_default__item:after, .THIS .slds-tabs--default__item:after
{    content: none;
}
.THIS .toggle {

    display: none;

}
.THIS .siteforceLoadingBalls .global
{
    display: none;
}
.THIS .slds-tabs_default__content .slds-tabs--default__content
{     
    position: relative;
    padding: 1rem 0;
    padding-left: 1%;

}
.THIS .input.uiOutputText{
    font-size:12px !important;
}
.THIS label 
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight:bold !important;
}

.THIS th{
	font-weight: 500;
}

.THIS .slds-page-content{
    overflow-y:auto;
}

.THIS ul{
list-style: none !important;
} 
/*.THIS .upload{
    margin-left: 400px !important;
    margin-top: -42px !important;
}*/
.THIS .form_compound{
    width: 100% !important;
    padding-left: 2%;
}

.THIS .slds-tabs--default__item.slds-active{
    color: #000;
    /*font-size: 1.2em;*/
}


.THIS .slds-modal__container{
    margin-top: 0px;
}

.THIS .slds-modal__container1{
   width: 33%;
}

.THIS .slds-modal {
    position: fixed; 
} 

.THIS .padding15 {
    margin: 0;
    padding: 9px; 
}
.THIS .error_text { 
    color: red;
}

.THIS .btnHide {
    display: none;
}

.THIS .btnShow {
    display: inline-block;
    
}

.THIS input  {
    color: inherit !important;
    margin: 0 !important;
}

.THIS .divOuter  {
    width:100%;
}

.THIS .divInner1  {
    width:50%;
    display: inline-block;
    padding: 10px;
}

.THIS .divInner2  {
    width:50%;
    float: right;
    padding: 10px;
}

.THIS .divInner3  {
    width:100%;
    padding-bottom: 10px;
}

.THIS .divInner4  {
    width:100%;
}

.THIS .divInner5  {
    width:50%;
    display: inline-block;
}

.THIS .divInner6  {
    width:50%;
    float: right;
}

.THIS .divInner7  {
    width:30%;
    display: inline-block;
    padding: 5px;
  text-align: right;
    
}

.THIS .divInner8  {
    width:70%;
    float: right;
    padding: 5px;
    
}

.THIS .Sell_Ofrr_Name
{
    width: 50% !important;	
    float: left !important;
}
.THIS .Int_Offr_Id
{
    width: 50% !important;
    float: right !important;
}
.THIS .Parti_cipation
{
    width: 50% !important;
    float: left !important;
}
.THIS .loan_type
{
    width: 50% !important;
    float: right !important;
}
.THIS .Port_Character
{
    width: 100% !important;
}
.THIS .Orig_Princ
{
    width: 50% !important;
    float: left !important;
}
.THIS .W_A_C
{
    width: 50% !important;
    float: right !important;
}
.THIS .Cur_Princ
{
    width: 50% !important;
    float: left !important;
}
.THIS .Fico_WA
{
    width: 50% !important;
    float: right !important;
}
.THIS .Numb_Loan
{
    width: 50% !important;
    float: left !important;
}

.THIS .Min_Fico
{
    width: 50% !important;
    float: right !important;
}
.THIS .Cur_Loan_Amount
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Orig_Term
{
    width: 50% !important;
    float: right !important;
}
.THIS .wa_ltv
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Remain_Term
{
    width: 50% !important;
    float: right !important;
}
.THIS .WA_DTI
{
    width: 50% !important;
    float: left !important;
}
.THIS .New
{
    width: 50% !important;
    float: right !important;
}
.THIS .Indirect
{
    width: 50% !important;
    float: left !important;
}
.THIS .Avg_Vehicle
{
    width: 50% !important;
    float: right !important;
}
.THIS .Chrg_Off
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Life_Loan
{
    width: 50% !important;
    float: right !important;
}
.THIS .Porf_Price
{
    width: 100% !important;
}
.THIS .Portfol_Price
{
    width: 50% !important;
    float: left !important;
}
.THIS .Ser_Fee
{
    width: 50% !important;
    float: right !important;
}
.THIS .Sell_Notes
{
    width: 100% !important;
    float: left !important;
}
.THIS .error_text1 {
    font-size: 16px;
    font-family: inherit;
    color: #F44336;
    text-align: center;
        
    
}

.THIS .popup-font{
   font-size:13px !important; 
}
.THIS .popup-button{
float: right;
display: none;
margin-right: -11px;
margin-top: -9px;
border: 1px solid rgba(214, 214, 214, 0.47);
}
.THIS .sec_background {
    background: rgb(244, 246, 249) !important;
    border-radius: 2px !important;
    width: 100% !important;
    padding: 6px !important;
    font-size: 1.2em;
    margin-bottom:10px;
}
.THIS .Customizedstocktable{
    min-width:500px !important;
}
.THIS #modal_popup .slds-modal__container{
   max-width: 45rem !important;
}
.THIS .uiInputDateTime .dateTime-inputTime{
	display:none !important;
}

.THIS .uiInputDateTime .dateTime-inputDate{
	width:100% !important;
}
.THIS .editwi72{
    width: 88px;
}
.THIS .wi72 {
    width: 95px;
}
.THIS .slds-input{
        	width:420px !important;
        }