<apex:component controller="AttributeCreateEmailTemp" access="global">
    <apex:attribute name="attributeId" type="Id" description="Id of the product template" assignTo="{!attId}" /> 
     <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Attribute.logo}"  alt="Attribute.logotitle"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;">
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Hi Team,</th>
                <th ></th>
                <th ></th>
            </tr>
            <tr style="width:100%;">
                <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">An Attribute called {!Attribute.attributeName} created, as below; </th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Attribute Name </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Attribute.attributeName}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Product Type</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Attribute.producttype}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Attribute Type</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Attribute.attributetype}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Mandatory</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Attribute.Mandatory}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Active</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Attribute.active}</th>
            </tr>
             <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Created by</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Attribute.CreatedBy},&nbsp;{!Attribute.CreatedDate}</th>
            </tr>

            
            

        </table>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
            <br/>
            {!Attribute.Thanksmsg}
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
</apex:component>