<apex:component controller="DocumentVaultEmailTemp" access="global">
    <style>
        .fa-folder::before  {font-size: 25px;color: darkgrey;}
        .fa-folder-plus::before  {content:'\f65e' !important;}
    </style>
    <apex:attribute name="docfileId" type="Id" description="Id of the product template" assignTo="{!fileId}" /> 
    <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!documents.logo}"  alt="documents.logotitle"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;">
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Dear {!documents.shareduser},</th>
                <th ></th>
                <th ></th>
            </tr>
            <apex:outputpanel rendered="{!documents.foldersharing == true}"> 
                <tr style="width:100%;">
                    <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">{!documents.Createduser} has invited you to contribute to the following shared folder:</th>
                </tr>
                <tr style="width:100%;">
                    <td style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:18px;"><span><i class="fas fa-folder"></i></span>{!documents.filename}</td>
                </tr>
            </apex:outputpanel>
            <apex:outputpanel rendered="{!documents.foldersharing == false}"> 
                <tr style="width:100%;">
                    <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">{!documents.Createduser} has shared the following file:</th>
                </tr>
                <tr style="width:100%;">
                    <td style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:18px;">{!documents.filename}</td>
                </tr>
            </apex:outputpanel>
            
           
        </table>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
            <br/>
            {!documents.Thanksmsg}
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
</apex:component>